* {
  margin:0;
  padding:0;
}

body{
  background-image: url(../bg/bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.9);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #3498DB;
  color: white;
}

.navbar .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: fade .25s linear forwards;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color:#3498DB;
  color: white;
}

.dropdown-content a:hover {
  background-color:#3498DB;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.container-search {
  width: 40%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:-1;
}

.search {
  position:relative;
  width:100%;
}

.search input[type=text]{
  outline: 0;
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.search .btn-submit {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute;
  height: 42px;
  width: 42px;
  text-align: center;
  border: 0;
  color: #FFF;
  font-size: 19px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
}

.search .btn-submit:hover {
  background-color: #2F8AC8;
}

.container-srcres {
  width: 90%;
  position: absolute;
  background-color:rgba(0,0,0, 0.8);
  border-radius: 5px;
  top:20%;
  left: 5%;
  overflow:hidden;
  z-index:-1;
}

.src-res {
  position:relative;
  width:100%;
}

.container-srcres h1 {
  padding-top: 10px;
  text-align: center;
  color:white;
}

.src-res ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.src-res ul li a {
  display: block;
  color: green;
  text-decoration: none;
}

.src-res ul li h2 {
  color: #3498DB;
}

.src-res ul li{
  position:relative;
  padding-left: 20px;
  padding-right: 20px;
  color:white;
  display: block;
  text-decoration: none;
}

#download_buttons {
  position: relative;
  z-index:-1;
}

.btn-down, .btn-up {
  display:inline-block;
  background-color:#3498DB;
  padding:10px 20px;
  border:1.6px solid #FFFFFF;
  margin:3px 5px 5px 3px;
  border-radius:2px;
  box-sizing: border-box;
  text-decoration:none;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  min-width:32.5%;
}

.btn-down:hover, .btn-up:hover {
  color:#3498DB;
  background-color:#FFFFFF;
}

@media screen and (max-width: 1461px) {
  .btn-up, .btn-down {
    display:block;
    width: 100%;
  }
}

.page_check {
  position: absolute;
  margin-top: 8px;
  margin-left: 5px;
  z-index: 1;
}

.cse .gsc-control-cse, .gsc-control-cse {
  background-color:transparent !important;
}

.gsc-results .gsc-webResult {
  background-color:transparent !important;
}

.gsc-cursor-page{
  background-color:transparent !important;
}
@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
