* {
  margin:0;
  padding:0;
}

body{
  background-image: url(../bg/bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: black;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: black;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #3498DB;
}

/*Navigation Bar*/
.navbar {
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.8);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fade .25s linear forwards;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color:#3498DB;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #3498DB;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/*Media Queries for Responsiveness*/
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.alert-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.alert-close:hover,
.alert-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*Landing Page Search Button*/
.container-search {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -50%);
}

.search {
  position:relative;
  width:100%;
}

.search input[type=text]{
  outline: 0;
  height: 42px;
  width: 100%;
  line-height: 42px;
  padding: 0 16px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: left;
  -webkit-border-radius: 4px 0 0 4px;
  border-radius: 4px 0 0 4px;
}

.search .btn-submit {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.8);
  position:absolute;
  height: 42px;
  width: 42px;
  text-align: center;
  border: 0;
  color: #FFF;
  font-size: 19px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .2s ease;
  transition: background-color .2s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  cursor:pointer;
}

.search .btn-submit:hover {
  background-color: #2F8AC8;
}

.checkContainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #3498DB;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.checkContainer .checkmark:after {
 	top: 8px;
	left: 8px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*Container for Browser/About Page*/
.container {
  width: 90%;
  position: absolute;
  background-color:rgba(0,0,0, 0.8);
  border-radius: 5px;
  top:15%;
  left: 5%;
  z-index:-1;
  word-wrap: break-word;
}

/*Browser Page*/
.binfo {
  position: relative;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.binfo h2 {
  padding-top: 10px;
  color:#3498DB;
  font-size: 35px;
  text-shadow: 3px 3px #000000;
}

.binfo p {
  color:white;
  font-size: 20px;
  line-height: 2;
}

.binfo .btn-show {
  border: 1px solid #3498DB;
  background: #3498DB;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/*About Page*/
.container > h1 {
  text-shadow: 3px 3px #000000;
  text-align: center;
  font-size: 40px;
  color:#3498DB;
}
.column {
  float: left;
  width: 47%;
  margin-bottom: 16px;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.card img {
  width:50%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about_container {
  padding: 0 16px;
}

.about_container p, .about_container h1 {
  color:white;
  text-align: center;
}

.about_container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: #3498DB;
  text-align: center;
}

.contact-form {
  margin-left: 10%;
  width:100%;
}

.form-control {
  display:block;
  width:80%;
  background:transparent;
  border:none;
  outline:none;
  border-bottom: 1px solid #3498DB;
  color:white;
  font-size: 18px;
  margin-top: 50px;
  margin-bottom:50px;
}

.contact-form ::placeholder {
  color:white;
}

#csubmit {
  width:50%;
  margin-left: 15%;
  background-color: #3498DB;
  color: white;
  font-size:20px;
  font-weight: bold;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 50px;
}

#csubmit:hover {
  background-color: #2F8AC8;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
