* {
  margin:0;
  padding:0;
}

body{
  background-image: url(bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.5);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #3498DB;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#222;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation: fade .25s linear forwards;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color:#3498DB;
  color: white;
}

.dropdown-content a:hover {
  background-color:#3498DB;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

.container-search {
  width: 40%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  position:relative;
  width:100%;
}

.search input[type=text]{
  float: left;
  width: 100%;
  border: 3px solid #3498DB;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.search button[type=submit] {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #3498DB;
  background: #3498DB;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.search input[type=text]:hover {
  border: 3px solid #2F8AC8;
}

.search button[type=submit]:hover {
  background-color: #2F8AC8;
}

.container-srcres {
  width: 90%;
  position: absolute;
  background-color:rgba(0,0,0, 0.5);
  border-radius: 5px;
  top:20%;
  left: 5%;
  overflow:auto;
}

.src-res {
  position:relative;
  width:100%;
}

.container-srcres h1 {
  padding-top: 10px;
  text-align: center;
  color:white;
}

.src-res ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.src-res ul li a {
  display: block;
  color: green;
  text-decoration: none;
}

.src-res ul li h2 {
  color: #3498DB;
}

.src-res ul li{
  position:relative;
  padding-left: 8px;
  color:white;
  display: block;
  text-decoration: none;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
