* {
  margin:0;
  padding:0;
}

body{
  background-image: url(bg4.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#464646;
  font-family: Arial, Helvetica, sans-serif;
}

/*Navigation Bar*/
.navbar {
  overflow: hidden;
  background-color:rgba(0, 0, 0, 0.8);
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:rgba(0, 0, 0, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fade .25s linear forwards;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {
  background-color:#3498DB;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: #3498DB;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

/*Media Queries for Responsiveness*/
@media screen and (max-width: 600px) {
  .navbar.responsive {position: relative;}
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navbar.responsive .dropdown {float: none;}
  .navbar.responsive .dropdown-content {position: relative;}
  .navbar.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

/*Landing Page Search Button*/
.container-search {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  position:relative;
  width:100%;
}

.search input[type=text]{
  float: left;
  width: 100%;
  border: 3px solid #3498DB;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: black;
}

.search button[type=submit] {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #3498DB;
  background: #3498DB;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.search input[type=text]:hover {
  border: 3px solid #2F8AC8;
}

.search button[type=submit]:hover {
  background-color: #2F8AC8;
}

/*Container for Browser/About Page*/
.container {
  width: 90%;
  position: absolute;
  background-color:rgba(0,0,0, 0.8);
  border-radius: 5px;
  top:15%;
  left: 5%;
  z-index:-1;
  word-wrap: break-word;
}

/*Browser Page*/
.binfo {
  position: relative;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.binfo h2 {
  padding-top: 10px;
  color:#3498DB;
}

.binfo p {
  color:white;
}

.binfo .btn-show {
  border: 1px solid #3498DB;
  background: #3498DB;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/*About Page*/

.aboutinfo {
  position: relative;
  text-align:left;
}

.aboutinfo h2 {
  padding:10px 10px 0px 10px;
  color:#3498DB;
}

.aboutinfo p {
  padding:10px 10px 0px 10px;
  color:white;
}

.aboutinfo a {
  display:block;
  color: #f2f2f2;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
